{% extends 'home.html' %}
{% load static %}


{% block title %}
Agregar Familia
{% endblock title %}


{% block content %}
{% include 'includes/header.html' %}
<div class="grid-container">
    <h3>Eliminar a {{object.nombre}}</h3>
    <form method="post">{% csrf_token %}
        <div class="grid-x grid-padding-x">
            <div class="medium-6 cell">
                <label><h4>Desea eliminar??</h4></label>
                <button type="submit" class="alert button">Confirmar</button>
            </div>

</div>
</form>


{% endblock content %}